
    table {
    border-collapse: collapse;
    border: 5px solid black; 
    margin: 20px auto;
}

    td {
      width: 100px;  
      height: 100px;
    }
    .white {
      background-color:white;
    }
    .black {
      background-color: black;
    }
 img{
  height:100px;
  width:100px;
  background-size:cover ;
 }